body, html {
    /* height: 100%; */
    font-family: 'Roboto', 'Helvetica', sans-serif;
    margin-bottom: 20px;
}

.bg {
    /* The image used */
    background-image: url("../images/Imagem IPO Porto Radioterapia cortada.jpg");

    /* Full height */
    height: 75%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    /*background-size: cover;*/
    background-size: 100% 75%;
}

